/assets/node_images_originals/
/assets/node_images/

__pycache__/
*.pyc

# Editors / OS
.vscode/
.idea/
.obsidian/workspace.json
.DS_Store
Thumbs.db

# Python
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Blender
*.blend1
*.blend
